develop/src/templates/_body__section_intro_video.pug
// ELEMENT BACKGROUND VIDEO (PARALLAX)
div.full-cover.bg-image(style="background-image: url('img/intro/video-bg/camera.jpg')")
    video.bv-video

//.
    <div class="full-cover bg-image" style="background-image: url('img/intro/video-bg/camera.jpg')">
        <video id="vintro" loop="" muted="" autoplay="" class="full-cover-video bg-image" poster="img/intro/video-bg/camera.jpg" data-stellar-ratio="0.2"><source src="img/intro/video-bg/camera.mp4" type="video/mp4"></video>
    </div>

// ELEMENT COVER
div.cover: img(src="img/portfolio_cover.png" alt="image")

// INTRO CAPTION
div.intro-caption.text-white(data-stellar-ratio="0.6")
    h1
        span.bg-main.text-white съемочная студия
        br
        .
            Дмитрия Муратова
    
    p Здесь умеют поймать момент и рассказать о нем


// SCROLL DOWN ARROW
a.scroll-down-arrow.page-scroll.text-center(href="#section-1")
    span.text-white: i.fa.fa-arrow-down

develop/src/templates/_body__section_intro_video.html
<!-- Element background video (parallax) -->
<div class="full-cover bg-image" style="background-image: url('img/intro/video-bg/camera.jpg')">
    <video class="bv-video"></video>
</div>
<!--
<div class="full-cover bg-image" style="background-image: url('img/intro/video-bg/camera.jpg')">
    <video id="vintro" loop="" muted="" autoplay="" class="full-cover-video bg-image" poster="img/intro/video-bg/camera.jpg" data-stellar-ratio="0.2"><source src="img/intro/video-bg/camera.mp4" type="video/mp4"></video>
</div>
-->


<!-- Element cover -->
<div class="cover"><img src="img/portfolio_cover.png" alt="image"></div>

<!-- Intro caption -->
<div class="intro-caption text-white" data-stellar-ratio="0.6">
    <h1><span class="bg-main text-white">съемочная студия</span> <br> 
    Дмитрия Муратова
    </h1>
    <p>Здесь умеют поймать момент и рассказать о нем</p>
</div>

<!-- Scroll down arrow -->
<a class="scroll-down-arrow page-scroll text-center" href="#section-1"><span class="text-white"><i class="fa fa-arrow-down"></i></span></a>
